:root {
  /*  variables to hold color information
    text color, card background color, interactable color, column color, background color
  */
  --text-color: #ffffff;
  --interactable-color: #555454;
  --task-color: #a3a2a2;
  --column-color: #424242;
  --background-color: #201e1e;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

* {
  font-family: 'Secular One', sans-serif;
  font-family: 'Open Sans', sans-serif;
}
